
<%- include("header") -%>

<h1 class="box" id="heading">About</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est placeat ratione fugiat natus et molestias animi! Voluptate rem corporis tempore omnis in distinctio hic necessitatibus sapiente suscipit quae, fugiat vitae repellat laudantium ipsam ab!</p>

<%- include("footer") -%>
